google-sheets-to-email/workflow.json
{
  "name": "Dynamic Google Sheet to Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Your Sheet Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_HERE/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [-416, -48],
      "id": "google-sheets-trigger",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Trigger Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Your Sheet Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_HERE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-176, -48],
      "id": "get-sheet-data",
      "name": "Get Row(s) in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dynamically generate HTML table from any Google Sheet\nconst items = $input.all();\nconst columns = Object.keys(items[0].json);\n\nlet html = `<!doctype html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\" />\n<title>Sheet Data</title>\n<style>\n  body { font-family: Arial, sans-serif; background:#f4f6f8; color:#0f1724; }\n  .table-container { max-width:800px; margin:auto; background:#fff; padding:20px; border-radius:12px; box-shadow:0 8px 20px rgba(0,0,0,0.08); }\n  h2 { color:#2563eb; }\n  table { width:100%; border-collapse:collapse; margin-top:15px; }\n  th, td { padding:10px; border:1px solid #e5e7eb; text-align:left; font-size:14px; }\n  th { background:#f1f5f9; }\n  tr:nth-child(even) { background:#f9fafb; }\n</style>\n</head>\n<body>\n  <div class=\"table-container\">\n    <h2>Google Sheet Data</h2>\n    <table>\n      <thead><tr>${columns.map(c => `<th>${c}</th>`).join('')}</tr></thead>\n      <tbody>\n`;\n\nfor (const row of items) {\n  html += `<tr>${columns.map(c => `<td>${row.json[c] ?? ''}</td>`).join('')}</tr>`;\n}\n\nhtml += `</tbody></table></div></body></html>`;\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, -48],
      "id": "build-html",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "your@email.com",
        "subject": "Dynamic Sheet Report",
        "message": "={{ $json.html }}",
        "options": {
          "htmlBody": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [336, -48],
      "id": "send-email",
      "name": "Send Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get Row(s) in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row(s) in Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "REPLACE_WITH_NEW_UUID",
  "id": "sanitized-workflow",
  "tags": []
}
